---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Spotify Profile</title>
    <script src="/spotify.js" type="module"></script>
  </head>
  <body>
    <span>© Copyright 2025 — William Turner</span>
  </body>
</html>

<style>
  span {
    font-size: 0.5rem;
  }
</style>
