---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Spotify Profile</title>
    <script src="/spotify.js" type="module"></script>
  </head>
  <body>
    <h1>Display your Spotify profile data</h1>

    <section id="profile">
      <h2>Logged in as <span id="displayName"></span></h2>
      <span id="avatar"></span>
      <ul>
        <li>User ID: <span id="id"></span></li>
        <li>Email: <span id="email"></span></li>
        <li>Spotify URI: <a id="uri" href="#"></a></li>
        <li>Link: <a id="url" href="#"></a></li>
        <li>Profile Image: <span id="imgUrl"></span></li>
        <section id="songs"></section>
        <li><span id="songImg1"></span></li>
        <li>Song 1: <span id="song1"></span></li>
        <li><span id="songImg2"></span></li>
        <li>Song 2: <span id="song2"></span></li>
        <li><span id="songImg3"></span></li>
        <li>Song 3: <span id="song3"></span></li>
        <li><span id="songImg4"></span></li>
        <li>Song 4: <span id="song4"></span></li>
        <li><span id="songImg5"></span></li>
        <li>Song 5: <span id="song5"></span></li>
      </ul>
    </section>
  </body>
</html>
<style>
  li {
    display: inline-block;
  }
  .songs {
    display: flex;
  }
</style>
